/* CreatePost.css */
.create-post-container {
    max-width: 700px;
    margin: auto;
  }
  
  .nav-tabs .nav-link {
    cursor: pointer;
  }

  textarea,
  input[type="text"] {
    font-size: 15px;
    color: white;
  }
  
  ::placeholder {
    color: #aaa;
  }
  
  .create-post-container .nav-tabs .nav-link.active {
    color: #000000 !important;
    border-bottom: 2px solid #f0ad4e;
  }
  
  .create-post-container .nav-tabs .nav-link {
    color: #aaa !important;
    border: none;
    background: transparent;
    font-weight: 500;
  }
  
